body {
    background-color: #E6CA8C;
}

#header {
    text-align: center;
}

#content {
    min-width: 360px;
    max-width: 1200px;
    margin: auto;
    padding: 0 50px 0 50px;
}

.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container {
    max-width: 50%;
    min-width: 400px;
    margin: 10px;
}

.forms {
    text-align: center;
}

.forms input {
    font-size: 18px;
    border: none;
    border-radius: 9px;
    padding: 13px;
}

.forms .field {
    width: 250px;
    
    margin: 5px;
}